@import "../node_modules/primeng/resources/primeng.min.css"
@import "../node_modules/primeflex/primeflex.scss"
@import "../node_modules/primeicons/primeicons.css"
@import "../node_modules/primeng/resources/themes/vela-blue/theme.css"
@import "./assets/weather-icons/sass/weather-icons.scss"
@import "./assets/weather-icons/sass/weather-icons-wind.scss"


$gutter: 1rem

body 
  background-color: var(--surface-b)
  font-family: var(--font-family)
  color: var(--text-color)
