<div class="grid col-12">
    <div class="col-7">
        <div class="w-full flex justify-content-between flex-wrap pl-4 pr-4">
            <div>
                <div *ngIf="isNan(data?.temp); else elseBlock" class="mb-0 text-4xl font-bold">
                    <div>
                        Min: {{ $any(data?.temp).min }}°C
                    </div>
                    <div>
                        Max: {{ $any(data?.temp).max }}°C
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="mb-0 text-7xl font-bold">
                        {{ data?.temp }}°C
                    </div>
                </ng-template>
                <h3 class="mt-1 font-bold">
                    {{ data ? data.weather[0].main : '' }}
                </h3>
                <div>
                    <div class="text-2xl">
                        <i class="wi wi-wind-beaufort-{{findBeaufortWindForce(data?.wind_speed)}}"></i>
                        <span class="font-bold">
                            Wind:
                        </span>
                        <span>
                            {{ data?.wind_speed }}km/h
                        </span>
                        <i class="wi wi-wind towards-{{ closestWindDeg(data?.wind_deg) }}-deg"></i>
                    </div>
                    <div>

                    </div>
                </div>
            </div>

            <div>
                <div class="text-center">
                    <img *ngIf="data && data.weather"
                        src="http://openweathermap.org/img/wn/{{ data.weather[0].icon }}@2x.png"
                        alt="{{ data.weather[0].description }}">
                </div>
                <h3 *ngIf="data && data.weather" class="font-bold mt-0 text-center">{{ data.weather[0].description |
                    firstCharToUpper }}</h3>
            </div>
        </div>
    </div>
    <div class="col-4 col-offset-1">
        <div class="text-2xl pb-3 text-center">
            <i class="wi wi-sunrise"></i><span> Sunrise time: {{ data?.sunrise | fromUnixEpochToDate | fromIsoDateToTime
                }}</span>
        </div>
        <div class="text-2xl pb-3 text-center">
            <i class="wi wi-sunset"></i><span> Sunset time: {{ data?.sunset | fromUnixEpochToDate | fromIsoDateToTime
                }}</span>
        </div>
        <div class="text-2xl pb-3 text-center">
            <i class="wi wi-barometer"></i><span> Pressure: {{ data?.pressure }} mbar</span>
        </div>
        <div class="text-2xl pb-3 text-center">
            <i class="wi wi-humidity"></i><span> Humidity {{ data?.humidity }}%</span>
        </div>
    </div>
</div>