<div class="flex justify-content-center">
    <h1>Sign in</h1>
</div>
<div class="grid">
    <div class="col-4 col-offset-4">
        <p-card>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="field p-2">
                    <span>
                        <label><strong>Username</strong></label>
                        <input type="text" class="inputfield w-full" pInputText formControlName="username" trim> 
                    </span>
                </div>
                <div class="field p-2 pb-4">
                    <span>
                        <label><strong>Password</strong></label>
                        <input type="password" class="inputfield w-full" pInputText formControlName="password" trim> 
                    </span>
                </div>
                <div class="grid col-12 pt-5">
                    <button pButton type="submit" label="Sign in" class="p-button-raised p-button-primary p-button-rounded col-6 col-offset-3 p-fluid" [disabled]="!form.valid"></button>
                    <span class="w-full text-center pt-2">Don't have an account ? <a href="/signup">Create one</a></span>
                </div>
            </form>
        </p-card>
    </div>
</div>


<p-toast position="bottom-right"></p-toast>